{% if customer and customer.orders_count > 0 %}
    <div class="vrm-check">
      <iframe
        src="https://key-library-vrm-check-theta.vercel.app/?customer_id={{ customer.id }}&email={{ customer.email | url_encode }}"
        width="100%"
        height="1000px"
        style="border: none;"
        title="vrm check"
        allowfullscreen>
      </iframe>
    </div>
  {% elsif customer and customer.orders_count == 0 %}
    <div style="text-align: center; margin: 35px 0;">
      <p class="no-orders" style="color: red;font-weight: bold;margin: 0 20px;">Users must have at least one completed order to access the registration checker.</p>
    </div>
  {% else %}
    <div style="display: flex; justify-content: center; margin: 35px 0;">
      <a href="https://www.keylibrary.co.uk/account/login" class="log-reg button button--secondary">
        Login/Register To View
      </a>
    </div>
  {% endif %}
  <style>
  @media(min-width:768px){
   .no-orders{   font-size: 22px; }
  }
  </style>